body {
    background-color: #2f2f2f;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    width: 100%;
}

.column-right {
    display: flex;
    flex-direction: column;
    float: left;
    height: 100vh;
    margin-left: 19vw;
    width: 80vw;
}

.column-right .column {
    margin: auto;
}

.column-left {
    align-items: center;
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    float: left;
    position: fixed;
    height: 100vh;
    width: 20vw;
}

.cl-row-top {
    margin: 0;
    padding: 0;
}

.cl-row-bottom {
    margin: 1rem 0 1rem 0;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 15vw;
}

.cl-row-bottom::-webkit-scrollbar {
    background-color: #2f2f2f;
}

.cl-row-bottom::-webkit-scrollbar-thumb {
    background-color: #B2B6A7;
    height: 1rem;
}

::-webkit-scrollbar {
    background-color: #2a2a2a;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #B2B6A7;
    border-radius: 5px;
}

.main-header h1 {
    color: #AEC178;
    font-family: 'Roboto';
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem 0 0 2rem;
    padding: 0;
}

.main-header h2 {
    color: #FFFCFA;
    font-family: 'Roboto';
    font-size: 1.7rem;
    font-weight: 300;
    margin: 0 0 0 2rem;
    padding: 0;
}

ul {
    margin: 1rem 0 0 0;
    padding: 0;
    list-style-type: none;
    width: 15vw;
}

li a {
    color: #B2B6A7;
    display: block;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    color: #AEC178;
}

.btn-left {
    background-color: #2f2f2f;
    border: none;
    border-radius: 0.1rem;
    color: #B2B6A7;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1rem;
    margin: 1rem 0 0 0;
    padding: 0.2rem;
    width: 90%;
}

.btn-left:hover {
    background-color: #AEC178;
    color: #2f2f2f;
}

#search-results {
    margin: 1rem 2rem 0 2rem;
    padding: 0;
}

table {
    color: #2a2a2a;
    background-color: #B2B6A7;
    border-radius: 0.3rem;
    border-collapse: collapse;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    width: 100%;
    vertical-align: middle;
}

th {
    background-color: #2a2a2a;
    color: #B2B6A7;
}

th,
td {
    padding: 1rem;
    border-bottom: 1px solid #2a2a2a;
}

tr:hover {
    background-color: #2f2f2f;
    color: #AEC178;
}

.search {
    margin: 1rem 2rem 0 2rem;
}

.search-row-top {
    display: flex;
}

.search-row-top input {
    background-color: #2a2a2a;
    border: none;
    border-radius: 0.1rem;
    color: #B2B6A7;
    padding: 0.5rem;
    width: 100%;
}

.search-row-top input::placeholder {
    color: #B2B6A7;
}

.search-row-bottom {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin: 0.5rem 0 0 0;
    width: 100%;
}

.search-row-bottom input,
select {
    background-color: #2a2a2a;
    border: none;
    border-radius: 0.1rem;
    color: #B2B6A7;
    padding: 0.3rem;
    width: 400px
}

.chart-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-left: 2rem;
}

.select-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

label {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
    color: #FFFCFA;
    margin-right: 1rem;
}

#registers {
    margin: 1rem 2rem 0 2rem;
    padding: 0;
}

p {
    color: #FFFCFA;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 300;
    margin: 1rem 0 1rem 2rem;
    padding: 0;
}

.user-data {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 0;
}

.user-items {
    display: inline;
    margin: 0 0 .8rem 0;
}

.user-data span {
    font-family: 'Roboto';
}

.user-data span.h {
    font-weight: 300;
    font-size: .9rem;
    color: #FFFCFA
}

.user-data span.t {
    font-weight: 400;
    font-size: 1.3rem;
    color: #B2B6A7
}