{% extends "layout.html" %}

{% block title %}
System's Overview
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
<script src="/static/js/graphs.js"></script>
{% endblock %}

{% block buttons %}
<div class="cl-row-bottom">
  <button class="btn-left" type="button" value="1">Graph 01</button>
  <button class="btn-left" type="button" value="2">Graph 02</button>
  <button class="btn-left" type="button" value="3">Graph 03</button>
  <button class="btn-left" type="button" value="4">Graph 04</button>
</div>
{% endblock %}

{% block body %}
<div class="column-right">
  <div class="column">
    <div class="chart-container">
      <canvas id="chart" height="600px" width="600px"></canvas>
    </div>
  </div>
  <div class="column">
    <div class="select-container" style="display: none;">
      <label for="argsSelect">Select a Place:</label>
      <select id="argsSelect" name="select">
      </select>
    </div>
  </div>
</div>

{% endblock %}