<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Managing System {% block title %}{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/styles.css">
  {% block javascript %}{% endblock %}
</head>

<body>

  <div class="row">
    <div class="column-left">
      <div class="cl-row-top">
        <nav>
          <ul>
            <li><a href="{{url_for('auth.index')}}">Home</a></li>
            <li><a href="/tables">Tables</a></li>
            <li><a href="/graphs">Graphs</a></li>
            <li><a href="{{url_for('common.logout')}}">Logout</a></li>
          </ul>
        </nav>
      </div>
      {% block buttons %}

      {% endblock %}
    </div>

    {% block body %}

    {% endblock %}

  </div>
</body>

</html>