<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/static/css/external.css">
  <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
  <div class="container">
    <div class="login-header">
      <h3>Login</h3>
      <h4>Welcome back!</h4>
    </div>
    <form class="login-form" action="/login" method="post">
      <div class="login-username">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username"
          placeholder="Username" type="text" required>
          {% if usernameError %}
          <label for="username">Invalid username</label>
          {% endif %}
      </div>
      <div class="login-password">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="password" name="password"
          placeholder="Password" type="password" required>
          {% if passwordError %}
          <label for="username">Invalid password</label>
          {% endif %}
      </div>
      <div class="login-button">
        <button class="login" type="submit">LOGIN</button>
      </div>
    </form>
    <div class="login-footer">
      <p>Forgot your password?</p>
      <p>Haven't <a href="/register">register</a> yet?</p>
    </div>
  </div>
</body>

</html>