<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/register.css">
</head>

<body>
  <div class="container">
    <div class="register-header">
      <h3>Register</h3>
      <h4>Welcome!</h4>
    </div>
    <form class="register-form" action="/register" method=post>
      <div class="register-type">
        {{ form.type.label }}
        {{ form.type }}
        {% if form.type.errors %}
        <div class="form-error">
          <ul>
            {% for error in form.type.erros %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="register-username">
        {{ form.username.label }}
        {{ form.username }}
        {% if form.username.errors %}
        <div class="form-error">
          <ul>
            {% for error in form.username.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="register-email">
        {{ form.email.label }}
        {{ form.email }}
        {% if form.email.errors %}
        <div class="form-error">
          <ul>
            {% for error in form.email.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="register-password">
        {{ form.password.label }}
        {{ form.password }}
        {% if form.password.errors %}
        <div class="form-error">
          <ul>
            {% for error in form.password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="register-cfrm">
        {{ form.confirm.label }}
        {{ form.confirm }}
        {% if form.confirm.errors %}
        <div class="form-error">
          <ul>
            {% for error in form.confirm.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <button class="register">Register</button>
    </form>
    <div class="register-footer">
      <p>Already have an <a href="/login">account</a>?</p>
    </div>
  </div>
</body>

</html>