{% extends "layout.html" %}

{% block title %}
System's Overview
{% endblock %}

{% block javascript %}
<script src="../static/js/tables.js"></script>
{% endblock %}

{% if places %}
{% block buttons %}
<div class="cl-row-bottom">
  <button id="place">All</button>
  {% for place in places %}
  <button id="place">{{ place.description.title() }}</button>
  {% endfor %}
</div>
{% endblock %}
{% endif %}

{% block body %}
<div class="column-right">

  <div class="row">
    <div class="main-header">
      <h1>Tables</h1>
      <h2>Checkout your tables</h2>
    </div>
  </div>

  <div class="search">
    <div class="search-row-top">
      {{ form.card }}
    </div>

    <div class="search-row-bottom">
      {{ form.type }}
      {{ form.date }}
      {{ form.time }}
    </div>
  </div>

  <div id="search-results">

  </div>
</div>
{% endblock %}